@font-face {
	font-family: "NotoSans";
	src: url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "NotoSerif";
	src: url(../fonts/NotoSerif-Regular.woff) format("woff"), url(../fonts/NotoSerif-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PlayfairDisplay";
	src: url(../fonts/PlayfairDisplay-Regular.woff) format("woff"), url(../fonts/PlayfairDisplay-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

html {
	background-color: #f2f2f2;
}

body {
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	background-color: #fff;
	font-size: 13px;
	line-height: 18px;
	font-family: "NotoSans", "Georgia", serif;
}

* {
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

input {
	text-transform: inherit;
	line-height: inherit;
	outline: none;
}

input::-webkit-input-placeholder {
	opacity: 1;
}

input::-moz-placeholder {
	opacity: 1;
}

input:-ms-input-placeholder {
	opacity: 1;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	margin: 0;
}

header,
footer,
article,
section {
	display: block;
}

fieldset {
	margin: 0;
	border: none;
	padding: 0;
}

button,
a,
label,
label::before,
label::after,
input {
	transition: background-color ease-out .2s, color ease-out .2s, opacity ease-out .2s;
}

.main-header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 268px;
	padding-left: 5px;
	padding-right: 5px;
}

.main-header__title-wrap {
	position: relative;
	padding-top: 19px;
	height: 66px;
}

.main-header__title-wrap::after {
	position: absolute;
	top: 43px;
	left: 192px;
	right: 0;
	display: block;
	content: '';
	height: 2px;
	background-color: #000;
}

.main-header__title {
	font-size: 26px;
	line-height: 26px;
	font-family: "PlayfairDisplay", "Georgia", serif;
	font-weight: 400;
	text-transform: uppercase;
}

.best-photo {
	position: relative;
}

.best-photo__date {
	position: absolute;
	top: 6px;
	left: 6px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	        align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	width: 80px;
	height: 53px;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
}

.best-photo__day {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-family: "NotoSerif", "Georgia", serif;
}

.best-photo__month {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-family: "NotoSerif", "Georgia", serif;
}

.best-photo__image {
	margin-bottom: -5px;
	width: 100%;
}

.best-photo__image img {
	width: 100%;
}

.best-photo__discription-wrap {
	display: none;
}

.main-container {
	padding: 0 2px;
	padding-top: 2px;
	font-size: 0;
	text-align: justify;
	text-justify: distribute;
	-moz-text-align-last: left;
	     text-align-last: left;
}

.main-container__photo {
	display: inline-block;
	vertical-align: top;
	margin: 3px;
	width: 73px;
	height: 48px;
	letter-spacing: normal;
}

.main-container__date {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 3px;
	width: 73px;
	height: 48px;
	text-align: center;
	-moz-text-align-last: center;
	     text-align-last: center;
	font-size: 16px;
	letter-spacing: normal;
}

.main-container__date-day {
	font-size: 18px;
	line-height: 24px;
	font-family: "NotoSerif", "Georgia", serif;
}

.main-container__date-month {
	font-size: 14px;
	line-height: 18px;
	font-family: "NotoSerif", "Georgia", serif;
}

.main-container__date::after {
	content: '';
	position: absolute;
	top: 14px;
	right: 7px;
	width: 0;
	height: 0;
	display: block;
	border-left: 3px solid #000;
	border-top: 2.5px solid transparent;
	border-bottom: 2.5px solid transparent;
	border-right: none;
}

.comertial--top {
	display: block;
	padding-left: 118px;
	padding-top: 3px;
	padding-bottom: 8px;
	padding-right: 16px;
	height: 80px;
	margin: 7px 3px;
	text-align: left;
	letter-spacing: 0;
	background-color: #fbf6e8;
	background-image: url(../img/commertial-320.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.comertial--top__discription {
	font-size: 10px;
	line-height: 16px;
	font-family: "NotoSans", "Georgia", serif;
	font-weight: 700;
	color: #c2c2c1;
}

.comertial--top__title {
	font-size: 13px;
	line-height: 18px;
	font-family: "NotoSans", "Georgia", serif;
	font-weight: 700;
}

.comertial--top__content {
	font-size: 12px;
	line-height: 16px;
	font-family: "NotoSans", "Georgia", serif;
	font-weight: 400;
}

.comertial--bottom {
	display: none;
}

.main-footer {
	padding: 0 6px;
}

.page-navigation {
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	        align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	height: 75px;
}

.page-navigation__list {
	display: none;
}

.page-navigation__page {
	display: inline-block;
	width: 33px;
	height: 33px;
	margin-right: 2px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	line-height: 32px;
	border-radius: 50%;
}

.page-navigation__page:hover {
	background-color: #e6e6e6;
}

.page-navigation__page.active-page {
	font-weight: 700;
	background-color: #e6e6e6;
}

.page-navigation__next {
	display: inline-block;
	margin-left: 21px;
}

.page-navigation__next:hover {
	color: #848484;
}

@media all and (min-width: 480px) {
	body {
		min-width: 480px;
	}

	.main-header {
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-header__title-wrap {
		padding-top: 37px;
		height: 107px;
	}

	.main-header__title-wrap::after {
		top: 75px;
		left: 284px;
	}

	.main-header__title {
		font-size: 40px;
		line-height: 40px;
	}

	.best-photo__date {
		top: 10px;
		left: 10px;
	}

	.main-container {
		position: relative;
		padding: 0 15px;
		padding-top: 5px;
	}

	.main-container::before {
		content: '';
		display: block;
		float: right;
		width: 160px;
		height: 220px;
		margin-left: 20px;
	}

	.main-container__photo {
		margin: 5px;
		width: 80px;
		height: 53px;
	}

	.main-container__date {
		margin: 5px;
		width: 80px;
		height: 53px;
	}

	.comertial--top {
		position: absolute;
		top: 3px;
		right: 20px;
		width: 160px;
		height: 220px;
		background-image: url(../img/commertial-480.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.comertial--top__discription,
	.comertial--top__title,
	.comertial--top__content {
		display: none;
	}

	.main-footer {
		padding: 0 20px;
	}

	.page-navigation {
		height: 89px;
	}

	.page-navigation__list {
		display: inline;
		color: #848484;
		margin-right: 25px;
	}

	.page-navigation__page {
		margin-right: 12px;
	}

	.page-navigation__next {
		margin-left: 11px;
	}
}

@media all and (min-width: 768px) {
	body {
		width: 768px;
	}

	.main-header {
		padding-left: 34px;
		padding-right: 34px;
	}

	.main-header__title-wrap {
		padding-top: 34px;
		height: 103px;
	}

	.main-header__title-wrap::after {
		top: 72px;
		left: 281px;
	}

	.main-header__title {
		font-size: 40px;
		line-height: 40px;
	}

	.best-photo {
		position: relative;
	}

	.best-photo::after {
		content: '';
		position: absolute;
		bottom: 53px;
		left: 342px;
		width: 0;
		height: 0;
		display: block;
		border-left: 8px solid transparent;
		border-top: none;
		border-bottom: 8px solid #fff;
		border-right: 8px solid transparent;
	}

	.best-photo__date {
		top: 20px;
		left: 20px;
		width: 160px;
		height: 104px;
	}

	.best-photo__date::after {
		content: '';
		position: absolute;
		top: 35px;
		right: 20px;
		width: 0;
		height: 0;
		display: block;
		border-left: 3px solid #000;
		border-top: 2.5px solid transparent;
		border-bottom: 2.5px solid transparent;
		border-right: none;
	}

	.best-photo__day {
		font-size: 36px;
		line-height: 36px;
	}

	.best-photo__month {
		font-size: 18px;
		line-height: 18px;
	}

	.best-photo__discription-wrap {
		display: block;
		padding-top: 14px;
		padding-bottom: 5px;
	}

	.best-photo__discription {
		font-weight: 700;
	}

	.best-photo__source {
		color: #acacac;
	}

	.main-container {
		padding: 0 24px;
	}

	.main-container__photo {
		margin: 10px;
		width: 160px;
		height: 104px;
	}

	.main-container__date {
		margin: 10px;
		padding: 0 30px;
		padding-top: 20px;
		width: 160px;
		height: 104px;
	}

	.main-container__date-day {
		font-size: 36px;
		line-height: 36px;
	}

	.main-container__date-month {
		font-size: 18px;
		line-height: 18px;
	}

	.main-container__date::after {
		top: 38px;
		right: 20px;
	}

	.comertial--top {
		top: 3px;
		right: 33px;
	}

	.comertial--bottom {
		display: block;
		float: right;
		width: 160px;
		height: 220px;
		margin: 10px;
		background-image: url(../img/commertial-768.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: #d30e09;
	}

	.main-footer {
		padding: 0 34px;
	}

	.page-navigation {
		height: 81px;
	}
}

